<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/semantic/dist/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='css/lib/semantic/dist/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>Todo</title>
</head>
<body onload="function a(){
  var currentdate = new Date();
var datetime = currentdate.getDate() + '/'
                + (currentdate.getMonth()+1)  + '/'
                + currentdate.getFullYear() +'@ '
                + currentdate.getHours() + ':'
                + currentdate.getMinutes() + ':'
                + currentdate.getSeconds();
            alert(datetime);
};">
    <div id="container">

        <h1>TODOS</h1>

        <div id="todo_segments" class="ui stacked segment">

            <div class="ui grid">


                {% if cnt_active_todo + cnt_complete_todo != 0 %}
                    <div class="two wide column">
                        <div class="ui toggle checkbox">
                            <input type="checkbox"
                                   {% if cnt_active_todo == 0 %}
                                    checked
                                   {% endif %}

                                   onclick="sendPost('{{ request.url }}', '{{ url_for('all') }}', 'state='+this.checked)">
                            <label></label>
                        </div>
                    </div>
                {% endif %}


                <div class="twelve wide column">
                    <form method="POST" action="{{ request.url }}" class="ui form">
                        {{ form.input(size=100, placeholder="What needs to be done?") }}
                    </form>
                </div>

            </div>
            <div class="ui fitted divider"></div>

            {% for todo in todos %}

                <div id="todo_segment" onmouseover="remove_todo_visible(this)" onmouseout="remove_todo_invisible(this)">

                <div  iv class="ui grid">

                    <div class="fourteen wide column">

                        <div class="ui toggle checkbox">

                            <input type="checkbox"
                                   name="todo_checkbox"
                                    {% if todo.todo_complete == True %}
                                      checked
                                    {% endif %}

                                    onclick={% if todo.todo_complete == True %}
                                        "sendPost('{{ request.url }}', '{{ url_for('not_done') }}', 'todo_id='+{{ todo.id }})"
                                    {% else %}
                                        "sendPost('{{ request.url }}', '{{ url_for('done') }}', 'todo_id='+{{ todo.id }})"
                                    {% endif %}>

                            <label id="todo_text" class="{% if todo.todo_complete == True %}
                                        todo_complete
                                      {% else %}
                                        todo_active
                                      {% endif %}">
                                {{ todo.todo }}
                            </label>

                        </div>

                    </div>

                    <div class="one wide column">
                        <a id="remove_todo" class="ui icon button" onclick="sendPost('{{ request.url }}', '{{ url_for('remove') }}', {{ todo.id }})"><i class="remove icon"></i></a>
                    </div>

                </div>

                    <div class="ui fitted divider"></div>

                </div>
            {% endfor %}

            <div id="filter">

                <div>
                    {{ cnt_active_todo }} items left
                </div>

                <a href="/" class="ui button">All</a>
                <a href="/active" class="ui button">Active</a>
                <a href="/complete" class="ui button">Complete</a>

                {% if cnt_complete_todo != 0 %}
                    <a class="ui button" onclick="sendPost('{{ request.url }}', '{{ url_for('remove_completed') }}', -1)">Remove Completed</a>
                {% else %}
                {% endif %}

            </div>

        </div>
    </div>
</body>
</html>